<footer id="footer">
    <div class="footer-top">
        <div class="text-center"><h3>FooodeX</h3></div><br/><br/><br/><br/>
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-4 col-md-3"></div> -->
                <div class="col-lg-6 col-md-6 copyright">
                    <div class="footer-info">
                        
                        <p>
                            Howrah, West Bengal <br>
                            India<br><br></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 copyright">
                    <div class="footer-info">
                        <p>
                            <strong>Phone:</strong> +91 1234 5378 90<br>
                            <strong>Email:</strong> foodex@food.com<br>
                        </p>
                    </div>
                </div>
                <!-- <div class="col-lg-2 col-md-3"></div> -->

            </div>
            <div class="row">
                <!-- <div class="col-md-4 col-lg-4"></div> -->
                <div class="col-md-12 col-lg-12 copyright">
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="devicon-twitter-original socialStyle"></i></a>
                        <a href="#" class="facebook"><i class="devicon-facebook-plain socialStyle"></i></a>
                        <a href="#" class="googleplus"><i class="devicon-google-plain socialStyle"></i></a>
                    </div>
                </div>
                <!-- <div class="col-lg-2 col-md-2"></div> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>2023 FooodeX</span></strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->