<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
  <br/>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Menu</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li>
                        <button class="btn bg-transparent btnStyle" (click)="fetchMenu('all')">
                            All
                        </button>
                    </li>
                    <li>
                        <button class="btn bg-transparent btnStyle" (click)="fetchMenu('starter')">
                            Starters
                        </button>
                    </li>
                    <li>
                        <button class="btn bg-transparent btnStyle" (click)="fetchMenu('veg')">
                            veg
                        </button>
                    </li>
                    <li>
                        <button class="btn bg-transparent btnStyle" (click)="fetchMenu('nonVeg')">
                            Non-veg
                        </button>
                    </li>
                    <li>
                        <button class="btn bg-transparent btnStyle" (click)="fetchMenu('pnb')">
                            Pizza and Burgers
                        </button>
                    </li>
                    <li>
                        <button class="btn bg-transparent btnStyle" (click)="fetchMenu('salad')">
                            Salads
                        </button>
                    </li>
                    <li>
                        <button class="btn bg-transparent btnStyle" (click)="fetchMenu('drink')">
                            Drinks
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
            <section class="product">
                <div class="container-fluid">
                    <div class="slider-wrap" #widgetsContent>
                        <div class="slider-main">
                            <!-- <img src="../../assets/offer1.png" alt="Offer"> -->
                            <a href="#" class="card-link" style="margin-top: 14rem;">
                                <div class="card cardStyle" *ngFor='let in of currentMenu;let i = index'>
                                    <div class="cardbodystyle">
                                        <button type="button" class="btn btn-lg btn-primary" disabled>Order now</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>


        </div>

    </div>
</section><!-- End Menu Section -->