  <!-- ======= Top Of the Nav ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span></span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span></span></i>
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        <ul>
            <a class="login-btn scrollto d-none d-lg-flex" routerLink="/login" routerLinkActrive="active" style="text-decoration:none">Sign in</a>
        </ul>
      </div>
    </div>
  </div>

   <!-- ======= Bottom of the Nav ======= -->
   <section id="home" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>Fooode<span style="font-size:larger;">X</span></span></h1>
          <h2>Where every flavor tells a story!</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto" style="text-decoration:none">Our Menu</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto" style="text-decoration:none">Book a Table</a>
          </div>
        </div>

      </div>
    </div>
  </section>

