<p>orders works!</p>
<!-- <div class="container">
    <h1 class="text-center">Login with bootstrap popup</h1>
    <button type="button" class="btn btn-primary" (click)="show()">Login</button>
</div> -->
<!-- Creates the bootstrap modal where the image will appear -->

<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <section class="vh-100 ">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">
                                <div [ngStyle]="{'position': 'absolute', 'top': '0', 'right': '0'}">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">
                                        <h4>&#10060;</h4>
                                    </button>
                                </div>
                                <h2>order Details</h2>
                                <div style="min-height: 50vh;">
                                    <div class="container bootdey">
                                        <div class="panel panel-default panel-order">
                                            <!-- Orders pannel -->
                                            <div class="panel-body" >
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer foot">Total amount:10000/-</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>