    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
        <br/><br/><br/>
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Book a Table</h2>
            <p></p>
          </div>
  
          <form class="bookTableForm" data-aos="fade-up"
            data-aos-delay="100">
            <br/>
            <div class="row">
              <div class="col-lg-6 col-md-6 form-group">
                <input type="text" name="userId" class="form-control" disabled id="userId" placeholder="User Id(From system)">
              </div>
              <div class="col-lg-6 col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="noOfSeats" id="noOfSeats" placeholder="How many seats?">
              </div>
              <div class="col-lg-6 col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="remainingSeats" disabled id="remainingSeats" placeholder="Seats remaining(From system)">
              </div>
              <div class="col-lg-6 col-md-6 form-group mt-3 mt-md-0">
                <input type="date" name="bookingDate" class="form-control" id="bookingDate" placeholder="Date of booking">
              </div>
              <!-- <div class="col-lg-3 col-md-3 form-group mt-3 mt-md-3 formStyle text-center"></div>
              <div class="col-lg-6 col-md-6 form-group mt-3 mt-md-3 formStyle text-center">
                <input type="number" class="form-control" name="amountToBePaid" id="amountToBePaid" placeholder="Amount to be paid">
              </div>
              <div class="col-lg-3 col-md-3 form-group mt-3 mt-md-3 formStyle text-center"></div><br/><br/> -->
              <div class="col-lg-3 col-md-3 form-group mt-3 mt-md-3 formStyle text-center"></div>
              <div class="col-lg-6 col-md-6 form-group mt-3 mt-md-1">
                <span  class="form-control" name="people" id="people" placeholder="# of people">You are paying:</span>
              </div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your
                reservation. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Book a Table</button></div>
            <br/>
          </form>
  
        </div>
      </section><!-- End Book A Table Section -->